<div class="container-fluid p-2">
  <div class="row">
    <div class="col-md-6">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre común</th>
            <th scope="col">Tipo</th>
            <th scope="col">Clima</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plant of plants; index as i">
            <td scope="row"><b>{{ i+1 }}</b></td>
            <td>{{ plant.nombre_comun }}</td>
            <td>{{ plant.tipo }}</td>
            <td>{{ plant.clima }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <ul  class="list-unstyled">
      <li>Total plantas de interior: {{interiorPlants?.length}}</li>
      <li>Total plantas de exterior: {{exteriorPlants?.length}}</li>
    </ul>
  </div>
</div>
<footer class="footer">
  <div class="container-fluid text-center">
    <span>Contact us +57 3102105253 - info&#64;viveroelotonio.com - &#64;viveroelotonio</span>
  </div>
